In [1]:
#print 5 upper rows data 
import pandas as pd 

retail_raw = pd.read_csv('retail_raw.csv')
retail_raw.head()

,order_id,order_date,customer_id,city,province,product_id,brand,quantity,item_price
0,1703458,17/10/2019,14004,Jakarta Selatan,DKI Jakarta,P1910,BRAND_J,10.0,740000.0
1,1706815,24/10/2019,17220,Jakarta Selatan,DKI Jakarta,P2934,BRAND_R,2.0,604000.0
2,1710718,03/11/2019,16518,Jakarta Utara,DKI Jakarta,P0908,BRAND_C,8.0,1045000.0
3,1683592,19/08/2019,16364,Jakarta Barat,DKI Jakarta,P0128,BRAND_A,4.0,205000.0
4,1702573,16/10/2019,15696,Jakarta Timur,DKI Jakarta,P2968,BRAND_R,2.0,NaN

In [2]:
#print 5 lower rows data 
import pandas as pd 

retail_raw = pd.read_csv('retail_raw.csv')
retail_raw.tail()

,order_id,order_date,customer_id,city,province,product_id,brand,quantity,item_price
4995,1724011,01/12/2019,12838,Tangerang,Banten,P3047,BRAND_R,2.0,450000.0
4996,1676302,28/07/2019,13833,Bogor,Jawa Barat,P0760,BRAND_C,3.0,1465000.0
4997,1706071,23/10/2019,16332,Jakarta Timur,DKI Jakarta,P1681,BRAND_H,4.0,747000.0
4998,1703620,17/10/2019,13055,Jakarta Barat,DKI Jakarta,P0757,BRAND_C,8.0,695000.0
4999,1720036,24/11/2019,17609,Jakarta Pusat,DKI Jakarta,P3334,BRAND_S,1.0,1045000.0

In [6]:
#The Python code performs multi-index slicing on a DataFrame by setting 'order_date' and 'order_id' as the indices 
import pandas as pd
retail_raw = pd.read_csv('retail_raw.csv')

retail_raw = retail_raw.set_index(['order_date','order_id'])
retail_raw_slice = retail_raw.loc[('01/12/2019',1724011),:]
retail_raw_slice.head()

<ipython-input-6-8a637e542bc4>:7: PerformanceWarning: indexing past lexsort depth may impact performance.
  retail_raw_slice = retail_raw.loc[('01/12/2019',1724011),:]

                     customer_id       city province product_id    brand  \
order_date order_id
01/12/2019 1724011         12838  Tangerang   Banten      P4071  BRAND_W
           1724011         12838  Tangerang   Banten      P0875  BRAND_C
           1724011         12838  Tangerang   Banten      P3047  BRAND_R

                     quantity  item_price
order_date order_id
01/12/2019 1724011        2.0   1045000.0
           1724011        1.0    590000.0
           1724011        2.0    450000.0

In [26]:
#reveals informations of dataset
import pandas as pd

retail_raw = pd.read_csv('retail_raw.csv')
print('data types of each column:', retail_raw.dtypes)

retail_raw['order_date'] = pd.to_datetime(retail_raw['order_date'])
print("\nTipe data df setelah transformasi:\n", retail_raw.dtypes)

data types of each column: order_id         int64
order_date      object
customer_id      int64
city            object
province        object
product_id      object
brand           object
quantity       float64
item_price     float64
dtype: object

<ipython-input-26-cb745a9fceb6>:7: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  retail_raw['order_date'] = pd.to_datetime(retail_raw['order_date'])

Tipe data df setelah transformasi:
 order_id                int64
order_date     datetime64[ns]
customer_id             int64
city                   object
province               object
product_id             object
brand                  object
quantity              float64
item_price            float64
dtype: object

In [27]:
#reveal and change data types in the dataset 
import pandas as pd

retail_raw = pd.read_csv('retail_raw.csv')
print("data types of each column:\n", retail_raw.dtypes)

retail_raw['quantity'] = pd.to_numeric(retail_raw['quantity'], downcast="float")
retail_raw['province'] = retail_raw['province'].astype('category')
retail_raw['city'] = retail_raw['city'].astype('category')
retail_raw['brand'] = retail_raw['brand'].astype('category')

print("\nTipe data setelah transformasi:\n", retail_raw.dtypes)

data types of each column:
 order_id         int64
order_date      object
customer_id      int64
city            object
province        object
product_id      object
brand           object
quantity       float64
item_price     float64
dtype: object

Tipe data setelah transformasi:
 order_id          int64
order_date       object
customer_id       int64
city           category
province       category
product_id       object
brand          category
quantity        float32
item_price      float64
dtype: object

In [28]:
#transform the metadata 
import pandas as pd

retail_raw = pd.read_csv('retail_raw.csv')

print('top 5 rows of the brand column:\n', retail_raw['brand'].head())
retail_raw['brand'] = retail_raw['brand'].apply(lambda x: x.lower())
print('top 5 rows of the brand column again:\n', retail_raw['brand'].head())

retail_raw['brand'] = retail_raw['brand'].map(lambda x: x[-1])
print('top 5 rows of the brand column again:\n', retail_raw['brand'].head())

top 5 rows of the brand column:
 0    BRAND_J
1    BRAND_R
2    BRAND_C
3    BRAND_A
4    BRAND_R
Name: brand, dtype: object
top 5 rows of the brand column again:
 0    brand_j
1    brand_r
2    brand_c
3    brand_a
4    brand_r
Name: brand, dtype: object
top 5 rows of the brand column again:
 0    j
1    r
2    c
3    a
4    r
Name: brand, dtype: object

In [30]:
#counting for missing values in each columns 
import pandas as pd 

retail_raw = pd.read_csv('retail_raw.csv')
mv = retail_raw.isna().sum()
print('amount of missing values for each column:\n', mv)

amount of missing values for each column:
 order_id        0
order_date      0
customer_id     0
city           16
province       12
product_id     11
brand           0
quantity       14
item_price     13
dtype: int64

In [31]:
#dropping out the missing values 
import pandas as pd

retail_raw = pd.read_csv('retail_raw.csv')

print('the initial size of the DataFrame: %d baris, %d kolom.' % retail_raw.shape)
retail_raw = retail_raw.dropna(axis=1, how='all')

print('the initial size of the DataFrame with missing values: %d baris, %d kolom.' % retail_raw.shape)
retail_raw = retail_raw.dropna(axis=0, how='any')

print('dataframe size after remaining at least 1 missing values: %d baris, %d kolom.' % retail_raw.shape)

the initial size of the DataFrame: 5000 baris, 9 kolom.
the initial size of the DataFrame with missing values: 5000 baris, 9 kolom.
dataframe size after remaining at least 1 missing values: 4935 baris, 9 kolom.

In [1]:
#filling any missing values with 'unknown_city' and 'unknown_province'
import pandas as pd 

retail_raw = pd.read_csv('retail_raw.csv')
                         
print('Unique value awal:\n', retail_raw['city'].unique())
print('Unique value awal:\n', retail_raw['province'].unique())

retail_raw['city'] = retail_raw['city'].fillna('unknown_city')
retail_raw['province'] = retail_raw['province'].fillna('unknown_province')

print('Unique value setelah fillna:\n', retail_raw['province'].unique())
print('Unique value setelah fillna:\n', retail_raw['city'].unique())

Unique value awal:
 ['Jakarta Selatan' 'Jakarta Utara' 'Jakarta Barat' 'Jakarta Timur'
 'Surakarta' 'Tangerang' 'Denpasar' 'Surabaya' 'Jakarta Pusat' 'Bogor'
 'Bandung' 'Yogyakarta' 'Malang' 'Bekasi' 'Depok' 'Semarang' 'Purwokerto'
 nan 'Ubud']
Unique value awal:
 ['DKI Jakarta' 'Jawa Tengah' 'Banten' 'Bali' 'Jawa Timur' 'Jawa Barat'
 'Yogyakarta' nan]
Unique value setelah fillna:
 ['DKI Jakarta' 'Jawa Tengah' 'Banten' 'Bali' 'Jawa Timur' 'Jawa Barat'
 'Yogyakarta' 'unknown_province']
Unique value setelah fillna:
 ['Jakarta Selatan' 'Jakarta Utara' 'Jakarta Barat' 'Jakarta Timur'
 'Surakarta' 'Tangerang' 'Denpasar' 'Surabaya' 'Jakarta Pusat' 'Bogor'
 'Bandung' 'Yogyakarta' 'Malang' 'Bekasi' 'Depok' 'Semarang' 'Purwokerto'
 'unknown_city' 'Ubud']

In [11]:
#filling missing values in column product_id with 'unknown_productID'
import pandas as pd 

retail_raw = pd.read_csv('retail_raw.csv')

print('Unique value awal:\n', retail_raw['product_id'].unique())
retail_raw['product_id'] = retail_raw['product_id'].fillna('unknown_productID')
print('Unique value setelah fillna:\n', retail_raw['product_id'].unique())

Unique value awal:
 ['P1910' 'P2934' 'P0908' ... 'P0250' 'P2487' 'P0725']
Unique value setelah fillna:
 ['P1910' 'P2934' 'P0908' ... 'P0250' 'P2487' 'P0725']

In [8]:
#filling missing values in column quantity with its mean or median 
import pandas as pd 

retail_raw = pd.read_csv('retail_raw.csv')

print('First: mean = %f, median = %f.' % (retail_raw['quantity'].mean(), retail_raw['quantity'].median()))
retail_median = retail_raw["quantity"].fillna(retail_raw["quantity"].median())

print('Fillna median: mean = %f, median = %f.' % (retail_median.mean(), retail_median.median()))
retail_mean = retail_raw["quantity"].fillna(retail_raw['quantity'].mean())

print('Fillna mean: mean = %f, median = %f.' % (retail_mean.mean(), retail_mean.median()))

Awal: mean = 11.423987, median = 5.000000.
Fillna median: mean = 11.406000, median = 5.000000.
Fillna mean: mean = 11.423987, median = 5.000000.

In [7]:
#filling missing values in item_price column with its mean and median 
import pandas as pd 

retail_raw = pd.read_csv('retail_raw.csv')

print('First: mean = %f, median = %f.' % (retail_raw['item_price'].mean(), retail_raw['item_price'].median()))
retail_median = retail_raw['item_price'].fillna(retail_raw['item_price'].median())

print('Fillna median: mean = %f, median = %f.' % (retail_median.mean(), retail_median.median()))
retail_mean = retail_raw['item_price'].fillna(retail_raw['item_price'].mean())

print('Fillna mean: mean = %f, median = %f.' % (retail_mean.mean(), retail_mean.median()))

Awal: mean = 933742.731101, median = 604000.000000.
Fillna median: mean = 932885.400000, median = 604000.000000.
Fillna mean: mean = 933742.731101, median = 604000.000000.

In [12]:
#concatenates three separate DataFrames (brand_c, brand_s, brand_r) into a single DataFrame (result)
import pandas as pd 

retail_raw = pd.read_csv('retail_raw.csv')

brand_c = pd.DataFrame({
    'brand':['brand_c','brand_c','brand_c','brand_c'],
    'city' :['Jakarta Utara','Jakarta Utara','Jakarta Barat','Jakarta Pusat'],
    'province':['DKI Jakarta','DKI Jakarta','DKI Jakarta','DKI Jakarta'], 
})
brand_s = pd.DataFrame({
    'brand':['brand_s','brand_s','brand_s'], 
    'city':['Surakarta','Jakarta Barat','Tangerang'],
    'province':['Jawa Tengah','DKI Jakarta','Banten'], 
})
brand_r = pd.DataFrame({
    'brand':['brand_r','brand_r','brand_r'],
    'city':['Jakarta Timur','Denpasar','Bogor'], 
    'province':['DKI Jakarta','Bali','Jawa Barat'],
})
frames = [brand_c, brand_s, brand_r]
result = pd.concat(frames)
result

     brand           city     province
0  brand_c  Jakarta Utara  DKI Jakarta
1  brand_c  Jakarta Utara  DKI Jakarta
2  brand_c  Jakarta Barat  DKI Jakarta
3  brand_c  Jakarta Pusat  DKI Jakarta
0  brand_s      Surakarta  Jawa Tengah
1  brand_s  Jakarta Barat  DKI Jakarta
2  brand_s      Tangerang       Banten
0  brand_r  Jakarta Timur  DKI Jakarta
1  brand_r       Denpasar         Bali
2  brand_r          Bogor   Jawa Barat

In [41]:
#concatenates a DataFrame (brand_c) with a Series (s2) converted to a DataFrame
import pandas as pd 

brand_c = pd.DataFrame({
    'brand':['brand_c','brand_c','brand_c','brand_c'],
    'city' :['Jakarta Utara','Jakarta Utara','Jakarta Barat','Jakarta Pusat'],
    'province':['DKI Jakarta','DKI Jakarta','DKI Jakarta','DKI Jakarta'], 
    'quantity':[2.0, 1.0, 6.3, 4.6],
})
s2 = pd.Series(['brand_i', 'Tabanan','Bali', 4.6], index=['brand','city','province','quantity'])
result = pd.concat([brand_c, s2.to_frame().T], ignore_index=True)
result

     brand           city     province quantity
0  brand_c  Jakarta Utara  DKI Jakarta      2.0
1  brand_c  Jakarta Utara  DKI Jakarta      1.0
2  brand_c  Jakarta Barat  DKI Jakarta      6.3
3  brand_c  Jakarta Pusat  DKI Jakarta      4.6
4  brand_i        Tabanan         Bali      4.6

In [46]:
#performs a left outer join on two DataFrames (product and location) using the pd.merge function
import pandas as pd 
import numpy as np 

product = pd.DataFrame(
    {
    'product_id':['P0908','P0710',np.nan,'P3342','P3203'],
    'brand':['brand_c','brand_c','brand_i','brand_s','brand_s'],
    'quantity':[2.0,1.0,np.nan,2.0,32.0],
    }
)
location = pd.DataFrame(
    {
    'product_id':['P0908','P0710',np.nan,'P3342','P3203'],
    'item_price':[1045000.0,520000.0,np.nan,205000.0,450000.0]
    }
)
result = pd.merge(product, location, how='left', on='product_id')
result

  product_id    brand  quantity  item_price
0      P0908  brand_c       2.0   1045000.0
1      P0710  brand_c       1.0    520000.0
2        NaN  brand_i       NaN         NaN
3      P3342  brand_s       2.0    205000.0
4      P3203  brand_s      32.0    450000.0

In [36]:
#performs a full outer join on two DataFrames (product and location) using the pd.merge function
import pandas as pd
import numpy as np

product = pd.DataFrame(
    {
    'product_id':['P0908','P0710',np.nan,'P3342','P3203'],
    'brand':['brand_c','brand_c','brand_i','brand_s','brand_s'],
    'quantity':[2.0,1.0,np.nan,2.0,32.0],
    }
)
location = pd.DataFrame(
    {
    'product_id':['P0908','P0710',np.nan,'P3342','P3203'],
    'item_price':[1045000.0,520000.0,np.nan,205000.0,450000.0]
    }
)
result = pd.merge(product, location, on='product_id', how='outer', indicator=True)
result

  product_id    brand  quantity  item_price _merge
0      P0908  brand_c       2.0   1045000.0   both
1      P0710  brand_c       1.0    520000.0   both
2        NaN  brand_i       NaN         NaN   both
3      P3342  brand_s       2.0    205000.0   both
4      P3203  brand_s      32.0    450000.0   both

In [35]:
#Inner Join with multiple columns
import pandas as pd

data1 = pd.DataFrame(
   {'brand': ['brand_a', 'brand_a', 'brand_h'], 'city': ['Jakarta Barat', 'Jakarta Selatan', 'Tangerang']},
)
data2 = pd.DataFrame(
    {'customer_id': ['16364', '17422', '14723'], 
     'province': ['DKI Jakarta', 'DKI Jakarta', 'Banten'], 
     'brand': ['brand_a', 'brand_a', 'brand_h']}
)
result = data2.join(data1.set_index(['brand']), on='brand', how='inner')
result

  customer_id     province    brand             city
0       16364  DKI Jakarta  brand_a    Jakarta Barat
0       16364  DKI Jakarta  brand_a  Jakarta Selatan
1       17422  DKI Jakarta  brand_a    Jakarta Barat
1       17422  DKI Jakarta  brand_a  Jakarta Selatan
2       14723       Banten  brand_h        Tangerang

In [34]:
#Right Join with handling missing values
import pandas as pd

data1 = pd.DataFrame(
   {'brand': ['brand_a', 'brand_b', 'brand_h'], 'city': ['Jakarta Barat', 'Jakarta Utara', 'Tangerang']},
)
data2 = pd.DataFrame(
    {'customer_id': ['16364', '17422', '14723'], 
     'province': ['DKI Jakarta', 'DKI Jakarta', 'Banten'], 
     'brand': ['brand_a', 'brand_a', 'brand_i']}
)
result = data1.join(data2.set_index(['brand']), on='brand', how='right')
result

       brand           city customer_id     province
0.0  brand_a  Jakarta Barat       16364  DKI Jakarta
0.0  brand_a  Jakarta Barat       17422  DKI Jakarta
NaN  brand_i            NaN       14723       Banten

In [19]:
#groups the join DataFrame (result) by the 'province' column and applies aggregation functions
import pandas as pd

data1 = pd.DataFrame(
   {'brand': ['brand_a', 'brand_a', 'brand_h'], 
    'city': ['Jakarta Barat', 'Jakarta Selatan', 'Tangerang']},
)
data2 = pd.DataFrame(
    {'customer_id': ['16364', '17422', '14723'], 
     'province': ['DKI Jakarta', 'DKI Jakarta', 'Banten']},
)
result = data2.join(data1)
print("Original DataFrame:")
print(result)

grouped_result = result.groupby('province').agg({
    'customer_id': 'count',
    'brand': 'nunique',
    'city': 'nunique'
})
print("\nGrouped and Aggregated DataFrame:")
grouped_result

Original DataFrame:
  customer_id     province    brand             city
0       16364  DKI Jakarta  brand_a    Jakarta Barat
1       17422  DKI Jakarta  brand_a  Jakarta Selatan
2       14723       Banten  brand_h        Tangerang

Grouped and Aggregated DataFrame:

             customer_id  brand  city
province
Banten                 1      1     1
DKI Jakarta            2      1     2

In [33]:
#joins two DataFrames (data1 and data2) on their indices, then groups the resulting DataFrame by the 'province' and 'brand' columns, and applies aggregation
import pandas as pd

data1 = pd.DataFrame(
   {'brand': ['brand_a', 'brand_a', 'brand_h'], 'city': ['Jakarta Barat', 'Jakarta Selatan', 'Tangerang']},
)
data2 = pd.DataFrame(
    {'customer_id': ['16364', '17422', '14723'], 'province': ['DKI Jakarta', 'DKI Jakarta', 'Banten']},
)
result = data2.join(data1)
grouped_result = result.groupby(['province', 'brand']).agg({
    'customer_id': 'count',
    'city': 'nunique'
})
grouped_result

                     customer_id  city
province    brand
Banten      brand_h            1     1
DKI Jakarta brand_a            2     2

In [32]:
#joins two DataFrames (data1 and data2) then groups the resulting DataFrame by the 'province' column
import pandas as pd

data1 = pd.DataFrame(
   {'brand': ['brand_a', 'brand_a', 'brand_h'], 'city': ['Jakarta Barat', 'Jakarta Selatan', 'Tangerang']},
)
data2 = pd.DataFrame(
    {'customer_id': ['16364', '17422', '14723'], 'province': ['DKI Jakarta', 'DKI Jakarta', 'Banten']},
)
result = data2.join(data1)
grouped_result = result.groupby('province').agg({
    'customer_id': ['count', 'min', 'max'],
    'city': 'nunique'
})
grouped_result

            customer_id                  city
                  count    min    max nunique
province
Banten                1  14723  14723       1
DKI Jakarta           2  16364  17422       2