In [1]:
#data quality with Python 
#data profiling 
import pandas as pd 
import numpy as np 
import io 

#import dataset 
retail_raw = pd.read_csv('retail_raw.csv')

#print dataset 
retail_raw

,order_id,order_date,customer_id,city,province,product_id,brand,quantity,item_price
0,1703458,17/10/2019,14004,Jakarta Selatan,DKI Jakarta,P1910,BRAND_J,10.0,740000.0
1,1706815,24/10/2019,17220,Jakarta Selatan,DKI Jakarta,P2934,BRAND_R,2.0,604000.0
2,1710718,03/11/2019,16518,Jakarta Utara,DKI Jakarta,P0908,BRAND_C,8.0,1045000.0
3,1683592,19/08/2019,16364,Jakarta Barat,DKI Jakarta,P0128,BRAND_A,4.0,205000.0
4,1702573,16/10/2019,15696,Jakarta Timur,DKI Jakarta,P2968,BRAND_R,2.0,NaN
...,...,...,...,...,...,...,...,...,...
4995,1724011,01/12/2019,12838,Tangerang,Banten,P3047,BRAND_R,2.0,450000.0
4996,1676302,28/07/2019,13833,Bogor,Jawa Barat,P0760,BRAND_C,3.0,1465000.0
4997,1706071,23/10/2019,16332,Jakarta Timur,DKI Jakarta,P1681,BRAND_H,4.0,747000.0
4998,1703620,17/10/2019,13055,Jakarta Barat,DKI Jakarta,P0757,BRAND_C,8.0,695000.0
4999,1720036,24/11/2019,17609,Jakarta Pusat,DKI Jakarta,P3334,BRAND_S,1.0,1045000.0

In [1]:
#print 20 upper rows of the data 
import pandas as pd 
import numpy as np 
import io 

retail_raw = pd.read_csv('retail_raw.csv')

retail_raw.head(20)

,order_id,order_date,customer_id,city,province,product_id,brand,quantity,item_price
0,1703458,17/10/2019,14004,Jakarta Selatan,DKI Jakarta,P1910,BRAND_J,10.0,740000.0
1,1706815,24/10/2019,17220,Jakarta Selatan,DKI Jakarta,P2934,BRAND_R,2.0,604000.0
2,1710718,03/11/2019,16518,Jakarta Utara,DKI Jakarta,P0908,BRAND_C,8.0,1045000.0
3,1683592,19/08/2019,16364,Jakarta Barat,DKI Jakarta,P0128,BRAND_A,4.0,205000.0
4,1702573,16/10/2019,15696,Jakarta Timur,DKI Jakarta,P2968,BRAND_R,2.0,NaN
5,1672906,16/07/2019,12748,Jakarta Utara,DKI Jakarta,P0710,BRAND_C,4.0,520000.0
6,1711399,04/11/2019,16791,Jakarta Barat,DKI Jakarta,P0860,BRAND_C,1.0,1465000.0
7,1695367,26/09/2019,13069,Surakarta,Jawa Tengah,P3342,BRAND_S,2.0,205000.0
8,1741846,30/12/2019,16873,Jakarta Barat,DKI Jakarta,P3203,BRAND_S,32.0,450000.0
9,1720189,24/11/2019,14723,Tangerang,Banten,P1701,BRAND_H,2.0,149000.0
10,1683583,19/08/2019,13814,Denpasar,Bali,P2864,BRAND_R,6.0,1045000.0
11,1693309,19/09/2019,17841,Jakarta Utara,DKI Jakarta,P1798,BRAND_H,1.0,604000.0
12,1708381,29/10/2019,13895,Tangerang,Banten,P2074,BRAND_L,3.0,2200000.0
13,1705093,21/10/2019,16999,Jakarta Utara,DKI Jakarta,P2521,BRAND_P,4.0,1745000.0
14,1734790,18/12/2019,17422,Jakarta Selatan,DKI Jakarta,P0122,BRAND_A,NaN,695000.0
15,1678960,05/08/2019,14552,Tangerang,Banten,P3482,BRAND_S,1.0,904000.0
16,1668715,04/07/2019,13397,Surabaya,Jawa Timur,P1902,BRAND_J,10.0,740000.0
17,1714324,11/11/2019,14096,Surakarta,Jawa Tengah,P2022,BRAND_L,1.0,1748000.0
18,1669411,07/07/2019,15291,Jakarta Pusat,DKI Jakarta,P0931,BRAND_C,4.0,1395000.0
19,1731961,13/12/2019,13880,Bogor,Jawa Barat,P2853,BRAND_R,6.0,740000.0

In [2]:
#print 20 latest rows of the data 
import pandas as pd 
import numpy as np 
import io 

retail_raw = pd.read_csv('retail_raw.csv')

retail_raw.tail(20)

,order_id,order_date,customer_id,city,province,product_id,brand,quantity,item_price
4980,1674277,21/07/2019,14808,Bogor,Jawa Barat,P0591,BRAND_B,1.0,5945000.0
4981,1713541,08/11/2019,15498,Semarang,Jawa Tengah,P2947,BRAND_R,6.0,2095000.0
4982,1680142,08/08/2019,17259,Jakarta Selatan,DKI Jakarta,P3013,BRAND_R,1.0,1745000.0
4983,1677205,31/07/2019,17841,Jakarta Utara,DKI Jakarta,P2568,BRAND_P,1.0,1045000.0
4984,1679629,07/08/2019,15752,Yogyakarta,Yogyakarta,P2094,BRAND_L,3.0,590000.0
4985,1672405,15/07/2019,16713,Yogyakarta,Yogyakarta,P0160,BRAND_A,2.0,1500000.0
4986,1735456,19/12/2019,12921,Bogor,Jawa Barat,P2097,BRAND_L,10.0,590000.0
4987,1690672,11/09/2019,15786,Jakarta Selatan,DKI Jakarta,P2712,BRAND_P,25.0,159000.0
4988,1728964,09/12/2019,14953,Tangerang,Banten,P2582,BRAND_P,1.0,1185000.0
4989,1735879,19/12/2019,12709,Denpasar,Bali,P3408,BRAND_S,24.0,240000.0
4990,1678408,02/08/2019,15182,Jakarta Pusat,DKI Jakarta,P1903,BRAND_J,10.0,740000.0
4991,1736503,20/12/2019,18109,Tangerang,Banten,P2866,BRAND_R,3.0,1045000.0
4992,1734787,18/12/2019,18283,Jakarta Selatan,DKI Jakarta,P0734,BRAND_C,2.0,310000.0
4993,1678615,04/08/2019,16880,Bekasi,Jawa Barat,P2426,BRAND_P,3.0,310000.0
4994,1707424,25/10/2019,13021,Yogyakarta,Yogyakarta,P1913,BRAND_J,10.0,740000.0
4995,1724011,01/12/2019,12838,Tangerang,Banten,P3047,BRAND_R,2.0,450000.0
4996,1676302,28/07/2019,13833,Bogor,Jawa Barat,P0760,BRAND_C,3.0,1465000.0
4997,1706071,23/10/2019,16332,Jakarta Timur,DKI Jakarta,P1681,BRAND_H,4.0,747000.0
4998,1703620,17/10/2019,13055,Jakarta Barat,DKI Jakarta,P0757,BRAND_C,8.0,695000.0
4999,1720036,24/11/2019,17609,Jakarta Pusat,DKI Jakarta,P3334,BRAND_S,1.0,1045000.0

In [5]:
#print column length (including mssing values)
import pandas as pd 
import numpy as np 
import io 

retail_raw = pd.read_csv('retail_raw.csv')

#city column 
length_city = len(retail_raw['city'])
print('Length city column:', length_city)

#product_id column 
length_product_id = len(retail_raw['product_id'])
print('Length product_id column:', length_product_id)

Length city column: 5000
Length product_id column: 5000

In [3]:
#print column length (without missing values)
import pandas as pd 
import numpy as np 
import io 

retail_raw = pd.read_csv('retail_raw.csv')

#count of city column 
count_city = retail_raw['city'].count()
print('Count kolom count_city:', count_city)

#count of product_id column 
count_product_id = retail_raw['product_id'].count()
print('Count kolom product_id:', count_product_id)

Count kolom count_city: 4984
Count kolom product_id: 4989

In [5]:
#total missing value, N/A, or NaN 
import pandas as pd 
import numpy as np 
import io  

retail_raw = pd.read_csv('retail_raw.csv')

mis1 = length_city - count_city 
mis2 = length_product_id - count_product_id 

print(mis1)
print(mis2)

16
11

In [6]:
#calculating percentage of missing values in "city" and "product_id" column 
import pandas as pd 
import numpy as np 
import io 

retail_raw = pd.read_csv('retail_raw.csv')

# Missing values in the city column 
number_of_missing_values_city = length_city - count_city
ratio_of_missing_values_city = number_of_missing_values_city/length_city 
pct_of_missing_values_city = '{0:.1f}'.format(ratio_of_missing_values_city * 100)
print('Missing values percentage in the city column:', pct_of_missing_values_city)

# Missing values in the product_id column 
number_of_missing_values_product_id = length_product_id - count_product_id 
ratio_of_missing_values_product_id = number_of_missing_values_product_id/length_product_id 
pct_of_missing_values_product_id = '{0:.1f}%'.format(ratio_of_missing_values_product_id * 100)
print('Missing values percentage in the product_id column:', pct_of_missing_values_product_id)

Missing values percentage in the city column: 0.3
Missing values percentage in the product_id column: 0.2%

In [8]:
# descriptive statistics in the quantity column 
import pandas as pd
import numpy as np
import io

retail_raw = pd.read_csv('retail_raw.csv')

print('Kolom quantity')
print('Minimum value: ', retail_raw['quantity'].min())
print('Maximum value: ', retail_raw['quantity'].max())
print('Mean value: ', retail_raw['quantity'].mean())
print('Mode value: ', retail_raw['quantity'].mode())
print('Median value: ', retail_raw['quantity'].median())
print('Standard Deviation value: ', retail_raw['quantity'].std())

Kolom quantity
Minimum value:  1.0
Maximum value:  720.0
Mean value:  11.423987164059366
Mode value:  0    1.0
Name: quantity, dtype: float64
Median value:  5.0
Standard Deviation value:  29.44202501081146

In [7]:
# descriptive statistics in the item_price column 
import pandas as pd
import numpy as np
import io

retail_raw = pd.read_csv('retail_raw.csv')

print('Kolom item_price')
print('Minimum value: ', retail_raw['item_price'].min())
print('Maximum value: ', retail_raw['item_price'].max())
print('Mean value: ', retail_raw['item_price'].mean())
print('Median value: ', retail_raw['item_price'].median())
print('Standard Deviation value: ', retail_raw['item_price'].std())

Kolom item_price
Minimum value:  26000.0
Maximum value:  29762000.0
Mean value:  933742.7311008623
Median value:  604000.0
Standard Deviation value:  1030829.8104242847

In [8]:
#quantile statistics 
import pandas as pd 
import numpy as np 
import io 

retail_raw = pd.read_csv('retail_raw.csv')

# Quantile statistics kolom quantity
print('Kolom quantity:')
print(retail_raw['quantity'].quantile([0.25, 0.5, 0.75]))

# Tugas praktek: Quantile statistics kolom item_price
print('Kolom item_price:')
print(retail_raw['item_price'].quantile([0.25, 0.5, 0.75]))

Kolom quantity:
0.25     2.0
0.50     5.0
0.75    12.0
Name: quantity, dtype: float64
Kolom item_price:
0.25     450000.0
0.50     604000.0
0.75    1045000.0
Name: item_price, dtype: float64

In [4]:
#correlation analysis 
import pandas as pd 
import numpy as np 
import io 

retail_raw = pd.read_csv('retail_raw.csv')

print('Correlation between quantity and item_price')
print(retail_raw[['quantity','item_price']].corr())

Correlation between quantity and item_price
            quantity  item_price
quantity    1.000000   -0.133936
item_price -0.133936    1.000000

In [10]:
#missing values checking1 
import pandas as pd 
import numpy as np 
import io 

retail_raw = pd.read_csv('retail_raw.csv')

#checking
print('Missing values checking in each column:')
print(retail_raw.isnull().any())

Missing values checking in each column:
order_id       False
order_date     False
customer_id    False
city            True
province        True
product_id      True
brand          False
quantity        True
item_price      True
dtype: bool

In [11]:
#missing values checking2 
import pandas as pd 
import numpy as np 
import io

retail_raw = pd.read_csv('retail_raw.csv')

#checking and counting for missing values 
print(retail_raw.isnull().sum())

order_id        0
order_date      0
customer_id     0
city           16
province       12
product_id     11
brand           0
quantity       14
item_price     13
dtype: int64

In [12]:
#missing values treatment1
#'quantity' imputation 
import pandas as pd 
import numpy as np 
import io 

retail_raw = pd.read_csv('retail_raw.csv')

#filling missing values with mean()
print('\nFilling the missing values:')
print(retail_raw['quantity'].fillna(retail_raw['quantity'].mean()))

#filling missing values with mean()
print('\nFilling the missing values:')
print(retail_raw['item_price'].fillna(retail_raw['item_price'].mean()))

# Drop missing value
print('\nDrop missing value:')
print(retail_raw['city'].dropna())

Filling the missing values:
0       10.0
1        2.0
2        8.0
3        4.0
4        2.0
        ...
4995     2.0
4996     3.0
4997     4.0
4998     8.0
4999     1.0
Name: quantity, Length: 5000, dtype: float64

Filling the missing values:
0       7.400000e+05
1       6.040000e+05
2       1.045000e+06
3       2.050000e+05
4       9.337427e+05
            ...
4995    4.500000e+05
4996    1.465000e+06
4997    7.470000e+05
4998    6.950000e+05
4999    1.045000e+06
Name: item_price, Length: 5000, dtype: float64

Drop missing value:
0       Jakarta Selatan
1       Jakarta Selatan
2         Jakarta Utara
3         Jakarta Barat
4         Jakarta Timur
             ...
4995          Tangerang
4996              Bogor
4997      Jakarta Timur
4998      Jakarta Barat
4999      Jakarta Pusat
Name: city, Length: 4984, dtype: object

In [3]:
#outliers in 'quantity' column 
import pandas as pd 
import numpy as np 
import io 

retail_raw = pd.read_csv('retail_raw.csv')

# Q1, Q3, and IQR
Q1 = retail_raw['quantity'].quantile(0.25)
Q3 = retail_raw['quantity'].quantile(0.75)
IQR = Q3 - Q1

#checking size (rows and column) before remove outliers
print('Shape in the beginning: ', retail_raw.shape)

# Removing outliers
retail_raw = retail_raw[~((retail_raw['quantity'] < (Q1 - 1.5 * IQR)) | (retail_raw['quantity'] > (Q3 + 1.5 * IQR)))]

#checking size (rows and columns) after outliers were removed
print('Shape in the last: ', retail_raw.shape)

Shape in the beginning:  (5000, 9)
Shape in the last:  (4699, 9)

In [2]:
#outliers in 'item_price' column 
import pandas as pd 
import numpy as np 
import io 

retail_raw = pd.read_csv('retail_raw.csv')

# Q1, Q3, and IQR
Q1 = retail_raw['item_price'].quantile(0.25)
Q3 = retail_raw['item_price'].quantile(0.75)
IQR = Q3 - Q1

# Checking for size (rows and columns) before outliers being removed
print('Shape in the beginning: ', retail_raw.shape)

# Removing outliers
retail_raw = retail_raw[~((retail_raw['item_price'] < (Q1 - 1.5 * IQR)) | (retail_raw['item_price'] > (Q3 + 1.5 * IQR)))]

# Checking for size (rows and columns) after outliers were removed  
print('Shape in the last: ', retail_raw.shape)

Shape in the beginning:  (5000, 9)
Shape in the last:  (4541, 9)

In [1]:
#data duplication 
import pandas as pd 
import numpy as np 
import io 

retail_raw = pd.read_csv('retail_raw.csv')

#pre-duplicating 
print('Shape in the beginning: ', retail_raw.shape)

#throw out duplicated data 
retail_raw.drop_duplicates(inplace=True)

#post-duplicating 
print('Shape in the last: ', retail_raw.shape)

Shape in the beginning:  (5000, 9)
Shape in the last:  (4993, 9)