In [35]:
#python regex project 
#import the required libraries
import pandas as pd 
import re 

retail_raw_regex = pd.read_csv('retail_raw.csv')
retail_raw_regex

,order_id,order_date,customer_id,city,province,product_id,brand,quantity,item_price
0,1703458,17/10/2019,14004,Jakarta Selatan,DKI Jakarta,P1910,BRAND_J,10.0,740000.0
1,1706815,24/10/2019,17220,Jakarta Selatan,DKI Jakarta,P2934,BRAND_R,2.0,604000.0
2,1710718,03/11/2019,16518,Jakarta Utara,DKI Jakarta,P0908,BRAND_C,8.0,1045000.0
3,1683592,19/08/2019,16364,Jakarta Barat,DKI Jakarta,P0128,BRAND_A,4.0,205000.0
4,1702573,16/10/2019,15696,Jakarta Timur,DKI Jakarta,P2968,BRAND_R,2.0,NaN
...,...,...,...,...,...,...,...,...,...
4995,1724011,01/12/2019,12838,Tangerang,Banten,P3047,BRAND_R,2.0,450000.0
4996,1676302,28/07/2019,13833,Bogor,Jawa Barat,P0760,BRAND_C,3.0,1465000.0
4997,1706071,23/10/2019,16332,Jakarta Timur,DKI Jakarta,P1681,BRAND_H,4.0,747000.0
4998,1703620,17/10/2019,13055,Jakarta Barat,DKI Jakarta,P0757,BRAND_C,8.0,695000.0
4999,1720036,24/11/2019,17609,Jakarta Pusat,DKI Jakarta,P3334,BRAND_S,1.0,1045000.0

In [61]:
#checking for any dataset columns 
#import the required libraries
import pandas as pd 
import re 

retail_raw_regex = pd.read_csv('retail_raw.csv')
print(retail_raw_regex.dtypes)

order_id         int64
order_date      object
customer_id      int64
city            object
province        object
product_id      object
brand           object
quantity       float64
item_price     float64
dtype: object

In [36]:
#checking for any dataset columns 
#import the required libraries
import pandas as pd 
import re 

retail_raw_regex = pd.read_csv('retail_raw.csv')
print(retail_raw_regex.columns)

Index(['order_id', 'order_date', 'customer_id', 'city', 'province',
       'product_id', 'brand', 'quantity', 'item_price'],
      dtype='object')

In [38]:
#print 5 upper rows of the dataset
#import the required libraries
import pandas as pd 
import re 

retail_raw_regex = pd.read_csv('retail_raw.csv')
retail_raw_regex.head(20)

,order_id,order_date,customer_id,city,province,product_id,brand,quantity,item_price
0,1703458,17/10/2019,14004,Jakarta Selatan,DKI Jakarta,P1910,BRAND_J,10.0,740000.0
1,1706815,24/10/2019,17220,Jakarta Selatan,DKI Jakarta,P2934,BRAND_R,2.0,604000.0
2,1710718,03/11/2019,16518,Jakarta Utara,DKI Jakarta,P0908,BRAND_C,8.0,1045000.0
3,1683592,19/08/2019,16364,Jakarta Barat,DKI Jakarta,P0128,BRAND_A,4.0,205000.0
4,1702573,16/10/2019,15696,Jakarta Timur,DKI Jakarta,P2968,BRAND_R,2.0,NaN
5,1672906,16/07/2019,12748,Jakarta Utara,DKI Jakarta,P0710,BRAND_C,4.0,520000.0
6,1711399,04/11/2019,16791,Jakarta Barat,DKI Jakarta,P0860,BRAND_C,1.0,1465000.0
7,1695367,26/09/2019,13069,Surakarta,Jawa Tengah,P3342,BRAND_S,2.0,205000.0
8,1741846,30/12/2019,16873,Jakarta Barat,DKI Jakarta,P3203,BRAND_S,32.0,450000.0
9,1720189,24/11/2019,14723,Tangerang,Banten,P1701,BRAND_H,2.0,149000.0
10,1683583,19/08/2019,13814,Denpasar,Bali,P2864,BRAND_R,6.0,1045000.0
11,1693309,19/09/2019,17841,Jakarta Utara,DKI Jakarta,P1798,BRAND_H,1.0,604000.0
12,1708381,29/10/2019,13895,Tangerang,Banten,P2074,BRAND_L,3.0,2200000.0
13,1705093,21/10/2019,16999,Jakarta Utara,DKI Jakarta,P2521,BRAND_P,4.0,1745000.0
14,1734790,18/12/2019,17422,Jakarta Selatan,DKI Jakarta,P0122,BRAND_A,NaN,695000.0
15,1678960,05/08/2019,14552,Tangerang,Banten,P3482,BRAND_S,1.0,904000.0
16,1668715,04/07/2019,13397,Surabaya,Jawa Timur,P1902,BRAND_J,10.0,740000.0
17,1714324,11/11/2019,14096,Surakarta,Jawa Tengah,P2022,BRAND_L,1.0,1748000.0
18,1669411,07/07/2019,15291,Jakarta Pusat,DKI Jakarta,P0931,BRAND_C,4.0,1395000.0
19,1731961,13/12/2019,13880,Bogor,Jawa Barat,P2853,BRAND_R,6.0,740000.0

In [39]:
#search for province that begins with 'DKI'
#import the required libraries
import pandas as pd 
import re 

retail_raw_regex = pd.read_csv('retail_raw.csv')
retail_raw_regex['new_province'] = retail_raw_regex['province'].str.contains('^DKI')
print(retail_raw_regex[['province','new_province']].head(30))

       province new_province
0   DKI Jakarta         True
1   DKI Jakarta         True
2   DKI Jakarta         True
3   DKI Jakarta         True
4   DKI Jakarta         True
5   DKI Jakarta         True
6   DKI Jakarta         True
7   Jawa Tengah        False
8   DKI Jakarta         True
9        Banten        False
10         Bali        False
11  DKI Jakarta         True
12       Banten        False
13  DKI Jakarta         True
14  DKI Jakarta         True
15       Banten        False
16   Jawa Timur        False
17  Jawa Tengah        False
18  DKI Jakarta         True
19   Jawa Barat        False
20  DKI Jakarta         True
21   Jawa Barat        False
22  DKI Jakarta         True
23   Yogyakarta        False
24   Jawa Barat        False
25  DKI Jakarta         True
26   Jawa Barat        False
27   Jawa Barat        False
28  DKI Jakarta         True
29  DKI Jakarta         True

In [40]:
#search for province that begins with 'Jawa Barat'
#import the required libraries
import pandas as pd 
import re 

retail_raw_regex = pd.read_csv('retail_raw.csv')
retail_raw_regex['new_province'] = retail_raw_regex['province'].str.contains('^Jawa Barat$')
print(retail_raw_regex[['province','new_province']].head(30))

       province new_province
0   DKI Jakarta        False
1   DKI Jakarta        False
2   DKI Jakarta        False
3   DKI Jakarta        False
4   DKI Jakarta        False
5   DKI Jakarta        False
6   DKI Jakarta        False
7   Jawa Tengah        False
8   DKI Jakarta        False
9        Banten        False
10         Bali        False
11  DKI Jakarta        False
12       Banten        False
13  DKI Jakarta        False
14  DKI Jakarta        False
15       Banten        False
16   Jawa Timur        False
17  Jawa Tengah        False
18  DKI Jakarta        False
19   Jawa Barat         True
20  DKI Jakarta        False
21   Jawa Barat         True
22  DKI Jakarta        False
23   Yogyakarta        False
24   Jawa Barat         True
25  DKI Jakarta        False
26   Jawa Barat         True
27   Jawa Barat         True
28  DKI Jakarta        False
29  DKI Jakarta        False

In [41]:
#search for brand identity that ends with 'S' or 'J'
#import the required libraries
import pandas as pd 
import re 

retail_raw_regex = pd.read_csv('retail_raw.csv')
retail_raw_regex['new_brand'] = retail_raw_regex['brand'].str.contains('^BR.+S|BR.+J')
print(retail_raw_regex[['brand','new_brand']].head(30))

      brand  new_brand
0   BRAND_J       True
1   BRAND_R      False
2   BRAND_C      False
3   BRAND_A      False
4   BRAND_R      False
5   BRAND_C      False
6   BRAND_C      False
7   BRAND_S       True
8   BRAND_S       True
9   BRAND_H      False
10  BRAND_R      False
11  BRAND_H      False
12  BRAND_L      False
13  BRAND_P      False
14  BRAND_A      False
15  BRAND_S       True
16  BRAND_J       True
17  BRAND_L      False
18  BRAND_C      False
19  BRAND_R      False
20  BRAND_S       True
21  BRAND_W      False
22  BRAND_J       True
23  BRAND_H      False
24  BRAND_C      False
25  BRAND_S       True
26  BRAND_W      False
27  BRAND_J       True
28  BRAND_B      False
29  BRAND_S       True

In [67]:
#changing alphabet 'P' in the product_id column with 'QS'
import pandas as pd 
import re 

retail_raw_regex = pd.read_csv('retail_raw.csv')
retail_raw_regex['product_id_edit'] = retail_raw_regex['product_id'].str.replace('^P','QS')
print(retail_raw_regex[['product_id','product_id_edit']])

<ipython-input-67-c0dea63e5e0e>:6: FutureWarning: The default value of regex will change from True to False in a future version.
  retail_raw_regex['product_id_edit'] = retail_raw_regex['product_id'].str.replace('^P','QS')

     product_id product_id_edit
0         P1910          QS1910
1         P2934          QS2934
2         P0908          QS0908
3         P0128          QS0128
4         P2968          QS2968
...         ...             ...
4995      P3047          QS3047
4996      P0760          QS0760
4997      P1681          QS1681
4998      P0757          QS0757
4999      P3334          QS3334

[5000 rows x 2 columns]